// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store-index-image, .store-index-text {
	float: left;
	padding-right: 20px;
}

.store-index-item {
  float: left;
  font-size: 0.8em;
  font-weight: 100;
  min-width: 50%;
  padding-bottom: 20px;

  img {
  	margin-top: 50px;
  	display: block;
  }
}