<section class="eleven columns stitches content">
<p id="notice"><%= notice %></p>
<h1>Editing product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
</section>
